<div class="container pt-5 mt-5 mb-5 text-center">
    
    <h2 class="text-center text-primary mb-5"><i class="fas fa-paw"></i> De ce să adopți un blănos?</h2>
  
    <div class="row align-items-center mb-5">
      <div class="col-md-6">
        <h4><i class=" fas fa-regular fa-heart" style="color: #fecd3b;"></i> Salvezi o viață</h4>
        <p>Fiecare animal adoptat înseamnă o inimă salvată de la suferință. Dă-i o a doua șansă unui suflet care are nevoie de tine.</p>
      </div>
      <div class="col-md-6">
        <img src="assets/images/womandog1.jpeg" class="img-fluid rounded shadow-sm" alt="animal salvat">
      </div>
    </div>
  
    <div class="row align-items-center mb-5">
      <div class="col-md-6 order-md-2">
        <h4><i class=" fas fa-regular fa-heart" style="color: #fecd3b;"></i> Vei primi iubire necondiționată</h4>
        <p>Un animal adoptat nu uită niciodată bunătatea. Vei câștiga un prieten loial care îți va fi recunoscător întreaga viață.</p>
      </div>
      <div class="col-md-6 order-md-1">
        <img src="assets/images/dog5.jpeg" class="img-fluid rounded shadow-sm" alt="iubire animal">
      </div>
    </div>
  
    <div class="row align-items-center mb-5">
      <div class="col-md-6">
        <h4><i class=" fas fa-regular fa-heart" style="color: #fecd3b;"></i> Schimbi lumea prin exemplul tău</h4>
        <p>Fiecare gest contează. Arată lumii că se poate face bine și inspiră alți oameni să urmeze aceeași cale.</p>
      </div>
      <div class="col-md-6">
        <img src="assets/images/womandog3.jpeg" class="img-fluid rounded shadow-sm" alt="adoptie reusita">
      </div>
    </div>
  </div>
  
  