<footer class="pt-4 pb-2 mt-5 custom-footer">
    <div class="container text-center">
      <p class="mb-2">&copy; 2025 AdoptPet. Toate drepturile rezervate.</p>
  
      <div class="mb-2">
        <a href="#" class="me-3"><i class="fab fa-facebook fa-lg"></i></a>
        <a href="#" class="me-3"><i class="fab fa-twitter fa-lg"></i></a>
        <a href="#" class="me-3"><i class="fab fa-instagram fa-lg"></i></a>
        <a href="#" class=""><i class="fab fa-youtube fa-lg"></i></a>
      </div>
  
      <small>
        Realizat cu <i class=" fas fa-regular fa-heart" style="color: #fecd3b;"></i> de Laura
      </small>
      
    </div>
  </footer>
  